body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: #98ecf1;
}

h1 {
    font-size: 5rem;
    color: #6b2a97;
}

h2 {
    list-style-type: none;
}

p {
    white-space: pre-line;
}
